<!-- Employee Form Section -->
      <div class="col-5">
        <div class="card">
          <div class="card-header bg-success text-white">
            Add / Edit Employee
          </div>
          <div class="card-body">
            <form id="employeeForm">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text"  class="form-control" name="name" id="name" required />
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email"  class="form-control" name="email" id="email" required />
              </div>

              <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text"  class="form-control" name="phone" id="phone" />
              </div>

              <div class="mb-3">
                <label for="city" class="form-label">city</label>
                <input type="date"  class="form-control" name="city" id="city" />
              </div>

              <div class="mb-3">
                <label for="address" class="form-label">address</label>
                <input type="text"class="form-control" name="address" id="address" />
              </div>

              <button type="Button"  class="btn btn-success w-100" >Save Employee</button>
            </form>
          </div>
        </div>
      </div>
    
